/* SearchBar CSS */
.search-container {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 970px;
    height: 80px;
    border-radius: 100px;
    border: 1.5px solid #9D9D9D;
    background-color: #FFFFFF;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 16px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-icon {
    width: 20px;
    height: 20px;
}