.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: 20px;
    padding: 0 320px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .menu-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 0 40px;
    }
}

@media screen and (max-width: 480px) {
    .menu-grid {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}