<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- CSS 파일을 불러오는 링크 -->
  <link href="/main.css" rel="stylesheet">

  <!-- 구글 폰트 불러오기 -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
</head>
<body>

<!-- 네비게이션 바를 Thymeleaf 템플릿으로 가져옴 -->
<div th:replace="~{nav.html :: navbar}"></div>

<!-- Cloth 정보 출력 -->
<div class="card">
  <img src="https://placehold.co/300" alt="Cloth Image">
  <div>
    <a href="https:naver.com">링크</a>
    <h4>ID: <span th:text="${detail.id}"></span></h4>
    <h4>Name: <span th:text="${detail.name}"></span></h4>
    <h4>Type: <span th:text="${detail.type}"></span></h4>
  </div>
</div>

</body>
</html>
